<form-unit-input label="标题" placeholder="请输入标题" input-model="title"></form-unit-input>
<form-unit-select label="所属公司" ng-id="company1" type="0" selected-model="company1" dropdown="companyList1"></form-unit-select>
<form-unit-select label="所属公司" ng-id="company2" selected-model="company2" dropdown="companyList2"></form-unit-select>
<form-unit-select-multiple label="复选" ng-id="company3" type="0" selected-model="company3" dropdown="companyList3"></form-unit-select-multiple>
<form-unit-select-multiple label="复选" ng-id="company4" selected-model="company4" dropdown="companyList4"></form-unit-select-multiple>
<br/>
<br/>
<br/>
<form-unit-date-time-picker label="时间" ng-id="datetime" placeholder="请输入时间" input-model="inputModel"></form-unit-date-time-picker>
<form-unit-date-time-picker label="时间" ng-id="datetime2" placeholder="请输入时间" input-model="inputModel2"></form-unit-date-time-picker>
<form-unit-date-time-start-end  start-id="startTime" end-id="endTime" start-placeholder="开始时间" end-placeholder="结束时间" input-start-model="startModel" input-end-model="endModel"></form-unit-date-time-start-end>


<input type="button" ng-click="submit()" value="submit">
<input type="button" ng-click="reset()" value="reset">



