<form-unit-input label="标题" placeholder="请输入标题" input-modal="title"></form-unit-input>
<form-unit-select label="所属公司" type="1" selected-modal="company1" dropdown="companyList1"></form-unit-select>
<form-unit-select label="所属公司" type="2" selected-modal="company2" dropdown="companyList2"></form-unit-select>
<form-unit-select label="所属公司" selected-modal="company3" dropdown="companyList3"></form-unit-select>
<form-unit-select label="所属公司" selected-modal="company4" dropdown="companyList4"></form-unit-select>
<input type="button" ng-click="submit()" value="submit">
<input type="button" ng-click="reset()" value="reset">

